{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Land Real Estates Category Bootstrap Responsive website Template | Home :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Land Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
   
    <link rel="stylesheet" type="text/css" href="{% static 'PGFinder/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'PGFinder/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'PGFinder/css/style.css' %}">
    <!-- Custom-Files -->
    <!-- <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /> -->
    <!-- Bootstrap-Core-CSS -->
    <!-- <link href="css/style.css" rel='stylesheet' type='text/css' /> -->
    <!-- Style-CSS -->
    <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <!-- //Web-Fonts -->
</head>


<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1><a href="index.html"><span class="text-bl">W</span>hiteBricks</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="/PGFinder/">Home</a></li>
                            <li><a href="/PGFinder/findpg/">Find a PayingGuest</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                               <!--  <label for="drop-2" class="toggle toogle-2">My PG<span class="fa fa-angle-down"
                                        aria-hidden="true"></span>
                                </label> -->
                                {% if user.is_authenticated %}
                                <a href="/PGFinder/listpg/">My PG<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="/PGFinder/addpg/" class="drop-text">ADD PG</a></li>
                                    <li><a href="#gallery" class="drop-text">Gallery</a></li>
                                </ul>
                                {% endif %}
                            </li>
                            <!-- <li><a href="#blog">Blog</a></li> -->
                            <li><a href="/PGFinder/contact/">Contact Us</a></li>
                            <li><a href="/PGFinder/login/">Login</a></li>
                            <li><a href="/PGFinder/register/">Register</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="/PGFinder/logout/">Log Out</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->

    <div class="main-w3pvt mian-content-wthree text-center">
        <div class="container">
            <div class="style-banner mx-auto">
                    <form action="/PGFinder/findpg/" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-form-label">Rent Plan</label>
                                    {{myform.Rentplan}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Room Type</label>
                                    {{myform.Roomtype}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Meal Plan</label>
                                    {{myform.Mealplan}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Locations</label>
                                    {{myform.Location}}
                                </div>
                            </div>
                        </div>
                        <button type="submit" style="width: 80%" class="btn button-style-w3">FIND HERE</button>
                    </form>
                <!-- </div> -->
                <!-- //form -->
            </div>
        </div>
    </div>
    <!-- //banner -->



<!-- <str:Rentplan>/<str:Roomtype>/<str:Mealplan>/<str:Location>/ -->
<div class="main-w3pvt mian-content-wthree text-center">
    <div class="container">
        <div class="style-banner mx-auto">
            <table class="table table-bordered" style="color: white;">
                <thead>
                    <tr>
                        <th>PG ID</th>
                        <th>PG NAME</th>
                        <th>PG ADDRESS</th>
                        <th>RENT PLAN</th>
                        <th>ROOM CHOICE</th>
                        <th>MEAL PLAN</th>
                        <th>LOCATION</th>
                        {% if user.is_authenticated %}
                        <th>CONTACT DETAILS</th>
                        {% else %}
                        <th>CONTACT DETAILS</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for instance in findpg %}
                    <tr>
                        <td>{{instance.id}}</td>
                        <td>{{instance.pgname}}</td>
                        <td>{{instance.pgaddress}}</td>
                        <td>{{instance.rentchoice}}</td>
                        <td>{{instance.roomchoice}}</td>
                        <td>{{instance.mealchoice}}</td>
                        <td>{{instance.location}}</td>
                        {% if user.is_authenticated %}
                        <td>
                            <button id="request-btn" class="btn btn-success">View Contact Info</button>
                        </td>
                        {% else %}
                        <td>
                            <a href='/PGFinder/login/' class="btn btn-success">View Contact Info</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div id=response style="color: white"></div>
            <!-- <div>{{data}}</div> -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#request-btn").click(function(e){
                        e.preventDefault();
                        {% for instance in findpg %}
                        $.ajax({
                           url: "/PGFinder/sample_ajax_view/{{instance.id}}/",
                           type: "GET",
                           dataType:"json",
                           success: function(result){
                                // console.log("testingg"); 
                                // console.log(result[0].contactno);
                                html1 = "Contact No : " + result[0].contactno + "<br>" +"<hr>"
                                $("#response").append(html1);
                            }
                        });
                        {% endfor %}
                    });
                }); 
            </script>
        </div>
     </div>
</div>